*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    background: #1c1917 50;
}
.container{
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: #1e293b;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0,0,0,0.2);
}

.input-container{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}
.input-container input .input-container button{
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
}

.input-container input {
    background-color: transparent;
    border: 1px solid #a0a0a0;
    color: #fff;
    padding: 0.7em;

}

.input-container input:focus{
    border-color: #fff;
}

.input-container button{
    background-color: #ffb92a;
    border: none;
    cursor: pointer;
}

